<h1>All category</h1>
<%= link_to 'Cart_item',carts_path %></br>
 <% @category.each do |category| %>
    <tr>
      <td><%= category.name %></td>
    </tr>
      <td><%= link_to 'Show', category_path(category) %></td>
      <%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category_path(category),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td></br>
  <% end %>
</table>